@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 35px;
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
}

h3 {
  font-size: 23px;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
}

h4 {
  font-size: 17px;
  font-family: 'Nunito', sans-serif;
}

h5 {
  font-size: 17px;
  font-family: 'Nunito', sans-serif;
}

h6 {
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
}

p{
  font-size: 17px;
  font-family: 'Nunito', sans-serif;
}

.bold-font{
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

.pointer:hover {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

textarea{
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
}

input{
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: 25px;
  }

  h5 {
    font-size: 18px;
  }

}